<!-- START desktop-header -->
table(class="desktop-header table-light" align="center" bgcolor="#ffffff" border="0")
    tbody
        tr
            td(align="left" style="padding: 0 0 0 50px; width: 300px;")
                a(href="https://fluid-line.ru/")
                    img(src="https://fluid-line.ru/assets/mailing/course/compas/header-logo.png" class="header-logo" alt="fluid-line")

                span(class="header-main-title")
                    b(class="text") Проектирование<br>модели "Вентиль"<br> в Компас-3D

                span(class="text" class="header-main-date") СТАРТ КУРСА 23 января 2023
            td(align="right" style="padding: 0; width: 300px" class="text")
                img(src="img/logo.png" alt="Курс" style="display: block; margin-left: auto")
<!-- END desktop-header -->