*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body,
.document {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

div[style*="margin: 16px 0"] {
    margin: 0 !important;
}

img {
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    border: 0;
}

*[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
}

.x-gmail-data-detectors,
.x-gmail-data-detectors *,
.aBn {
    border-bottom: 0 !important;
    cursor: default !important;
}

/* === */

html {
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust: none;
}

html, body, table, tbody, tr, td {
    border: none !important;
}

@media (prefers-color-scheme: dark) {
    .table-light{
        background-color: transparent !important;
    }

    .text{
        color: #FFFFFF !important;
    }

    .content-wrapper{
        background-color: transparent !important;
    }
}

[data-ogsc] .table-light{
    background-color: transparent !important;
}

[data-ogsc] .text{
    color: #FFFFFF !important;
}

[data-ogsc] .content-wrapper{
    background-color: transparent !important;
}

@media (min-width: 601px) {
    .desktop-description{
        display: inherit !important;
    }

    .mobile-description{
        display: none !important;
    }

    .desktop-header{
        display: inherit !important;
    }

    .mobile-header{
        display: none !important;
    }
}

@media (max-width: 600px) {
    .desktop-description{
        display: none !important;
    }

    .mobile-description{
        display: inherit !important;
    }

    .desktop-header{
        display: none !important;
    }

    .mobile-header{
        display: inherit !important;
    }

    .teacher-content-column{
        padding: 0 !important;
    }
}

.desktop-header{
    display: none;
    max-width: 600px;
    width: 100%;
    background-color:#ffffff;
    border-spacing: 0;
}