extends pug/base-template

block body
    table(width="100%" border="0" cellspacing="0" cellpadding="0" style="line-height: normal; background-color: #ffffff;")
        tbody
            tr
                td(class="main-content-wrapper table-light" align="center")

                    include pug/head
                